.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    color: #EEE;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    border-radius: 8px;
    width: 900px;
    max-width: 100%;
    object-fit: cover;
}

.filme-info h3 {
    margin-top: 14px;
}

.filme-info span {
    margin: 8px 0;
}
.area-buttons {
    margin: 10px 0;
}

.area-buttons button:not(:first-of-type) {
    margin-left: 10px;
}
.area-buttons a{
    text-decoration: none;
    color:#EEE
}
.area-buttons a:hover{
    color: #000;
}
