:root{
    --movies-height:166px;
    --movies-width:300px;
    --movies-padding-width:6px;
    --transition-time: 0.3s;
    --button-carousel-z-index: 5;
}

.container {
    width: 100%;
}

.lista-filmes {
    margin: 30px 0;
    height: var(--movies-height);
    position: relative;
}

.lista-filmes h2 {
    color: #EEE;
    padding-left: 50px;
    padding-bottom: 5px;
    margin-top: 51px;
}
.lista-filmes ul{
    display: flex;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

.lista-filmes .carousel-button {
    position: absolute;
    width: 50px;
    height: 100%;
    font-size: 35px;
    color: rgba(221, 221, 221, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--button-carousel-z-index);
    transition: var(--transition-time);
}

.lista-filmes .carousel-button:hover {
    color: rgb(221, 221, 221);
    background: rgba(0,0,0,0.6);
    font-size: 45px;
    cursor: pointer;
}


.lista-filmes .carousel-button.right {
    left: calc(100% - 50px);
}

.lista-filmes .carousel-button.left {
    left: 0; 
}

.lista-filmes li {
    list-style-type: none;
}

.lista-filmes li:first-of-type {
    margin-left: 50px;
}

.lista-filmes li:last-of-type {
    margin-right: 50px;
}

.lista-filmes article{
    width: var(--movies-width);
    background-color: #141414;
    padding: 0 3px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.lista-filmes article:hover {
    overflow: inherit;
}

.lista-filmes article > div{
    width: calc(var(--movies-width) - var(--movies-padding-width));
    height: var(--movies-height);
    z-index: 1;
    transition: var(--transition-time);
}

.lista-filmes ul > li:hover {
    z-index: 22;
}

.lista-filmes article:hover > div{
    height: 250px;
    background: #000;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.3);
}


.lista-filmes article > div h3,
.lista-filmes article > div h4,
.lista-filmes article > div svg {
    color: #EEE;
    text-align: center;
    font-size: 0;
}

.lista-filmes article:hover > div h3{
    font-size: 18px;
    font-weight: 100;
    padding-top: 5px;
}

.lista-filmes article:hover > div h4,
.lista-filmes article:hover > div svg{
    font-size: 13px;
    font-weight: 100;
    padding-top: 5px;
}

.lista-filmes article:hover > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE;
}
.lista-filmes article:hover > div >div h4 {
    padding-left: 5px;
}

.lista-filmes article img{
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-radius: 3px;
    margin-top: auto;
}

