:root{
    --movies-height:166px;
    --movies-width:300px;
    --transition-time: 0.3s
}

.lista-filmes {
    margin: 30px 0;
    height: var(--movies-height);
    position: relative;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.lista-filmes ul{
    display: flex;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.lista-filmes .carousel-button {
    position: absolute;
    width: 50px;
    height: 100%;
    font-size: 35px;
    color: rgba(221, 221, 221, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: var(--transition-time);
}

.lista-filmes .carousel-button:hover {
    color: rgb(221, 221, 221);
    background: rgba(0,0,0,0.6);
    font-size: 45px;
    cursor: pointer;
}


.lista-filmes .carousel-button.right {
    left: calc(100vw - 50px);
}

.lista-filmes li {
    list-style-type: none;
}

.lista-filmes li:first-of-type {
    margin-left: 50px;
}

.lista-filmes article{
    width: var(--movies-width);
    background-color: #141414;
    padding: 0 3px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lista-filmes article img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-radius: 3px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    margin-top: auto;
}

.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.lista-filmes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

