.not-found{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#EEE;
}

.not-found h1 {
    font-size: 120px;
}

.not-found a{
    padding: 10px 15px;
    margin-top: 14px;
}