header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    background-color: #000;
    padding-left: 50px;
    padding-right: 20px;
}

header .logo{
    text-decoration: none;
    font-size: 45px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}

header .favoritos{
    padding: 5px 14px;
    white-space: nowrap;
}

@media only screen and (max-width: 480px) {
    header .favoritos{
        margin-bottom: 10px;
    }
}
