header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #000;
}

header .logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}

header .favoritos{
    text-decoration: none;
    font-size: 18px;
    color: #EEE;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 14px;
    border: 3px solid #EEE;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

header .favoritos:after {
    content: '';
    background: #EEE;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-135deg);
    transition: var(--transition-time);
    z-index: -1;
}
header .favoritos:hover {
    color:#000;
}
header .favoritos:hover:after {
    height: 400%;
} 